/* /Pages/Weather.razor.rz.scp.css */
.main-div[b-33epzqi6fl] {
    color: white;
    background: rgb(130,129,212);
    background: linear-gradient(0deg, rgba(130,129,212,1) 0%, rgba(152,157,232,1) 100%);
}

.rounded-corner[b-33epzqi6fl] {
    border-radius: 18px;
    padding: 10px;
    margin: 10px;
    background: #7475d6;
    color: white;
}
.grid-container-2-columns[b-33epzqi6fl] {
    display: grid;
    grid-template-columns: max-content auto;
}
/* /Shared/CheckBox.razor.rz.scp.css */
.vertical-align-center[b-abcgc5v1lc] {
    display: flex;
    align-items: center;
}
/* /Shared/DayWeatherHead.razor.rz.scp.css */
.grid-container-2-columns[b-o6ss7umxlj] {
    display: grid;
    grid-template-columns: auto auto;
}

.horizontal-align-center[b-o6ss7umxlj] {
    display: flex;
    justify-content: center;
}

.large-icon[b-o6ss7umxlj] {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 150px;
}

.head-large-text[b-o6ss7umxlj]{
    font-size: 5em;
}
/* /Shared/DayWeatherSection.razor.rz.scp.css */
.grid-container-5-columns[b-jfehtryp3t] {
    display: grid;
    grid-template-columns: 25% 20% 15% 10% 10% 20%;
}

.bold-text[b-jfehtryp3t]{
    font-weight: bold;
}

.right-align[b-jfehtryp3t]{
    justify-content: flex-end;
}

.small-text[b-jfehtryp3t]{
    display: flex;
    align-items: center;
}

.precipitation-chance[b-jfehtryp3t] {
    display: flex;
    align-items: center;
    justify-content: end;
}

.precipitation-chance-text[b-jfehtryp3t]{
    width: 38px;
}

.rain-drop-icon[b-jfehtryp3t]{
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
}

.weather-icon[b-jfehtryp3t]{
    display: flex;
    align-items: center;
    width: 36px;
    height: 36px;
}

.collapsible[b-jfehtryp3t] {
    background-color: transparent;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active[b-jfehtryp3t], .collapsible:hover[b-jfehtryp3t] {
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content[b-jfehtryp3t] {
    background-color: #8281d4;
}
/* /Shared/HourlyWeatherSection.razor.rz.scp.css */
.grid-container-24-columns[b-ji5yrovtou] {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}

.grid-container-4-columns[b-ji5yrovtou] {
    display: grid;
    grid-template-columns: 35% 25% 20% 20%;
}

.hour-item[b-ji5yrovtou]{
    margin-left: 6px;
}

.small-text[b-ji5yrovtou]{
    display: flex;
    align-items: center;
}

.right-align[b-ji5yrovtou]{
    justify-content: flex-end;
}

.weather-icon[b-ji5yrovtou]{
    width: 36px;
    height: 36px;
}

.precipitation-chance[b-ji5yrovtou] {
    display: flex;
    align-items: center;
    justify-content: end;
}

.precipitation-chance-text[b-ji5yrovtou]{
    width: 38px;
}

.rain-drop-icon[b-ji5yrovtou]{
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
}
/* /Shared/LengthConvertersSection.razor.rz.scp.css */
.section-div[b-1pv7sp2994] {
    margin-top: 15px;
    margin-bottom: 15px;
}

.grid-container-two-columns[b-1pv7sp2994] {
    display: grid;
    grid-template-columns: max-content auto;
}

.grid-container-two-columns-even[b-1pv7sp2994] {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container[b-1pv7sp2994] {
    display: grid;
}

.input-item[b-1pv7sp2994] {
    margin: 2px;
    min-width: 80px;
}

.column-label[b-1pv7sp2994] {
    margin-right: 5px;
}

.horizontal-align-right[b-1pv7sp2994] {
    display: flex; 
    justify-content: flex-end
}

.vertical-align-center[b-1pv7sp2994] {
    display: flex;
    align-items: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-glkhn9bw9q] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-glkhn9bw9q] {
    flex: 1;
}

.sidebar[b-glkhn9bw9q] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-glkhn9bw9q] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-glkhn9bw9q]  a, .top-row[b-glkhn9bw9q]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-glkhn9bw9q]  a:hover, .top-row[b-glkhn9bw9q]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-glkhn9bw9q]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-glkhn9bw9q] {
        display: none;
    }

    .top-row.auth[b-glkhn9bw9q] {
        justify-content: space-between;
    }

    .top-row[b-glkhn9bw9q]  a, .top-row[b-glkhn9bw9q]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-glkhn9bw9q] {
        flex-direction: row;
    }

    .sidebar[b-glkhn9bw9q] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-glkhn9bw9q] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-glkhn9bw9q]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-glkhn9bw9q], article[b-glkhn9bw9q] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-dao6xeytia] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dao6xeytia] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-dao6xeytia] {
    font-size: 1.1rem;
}

.oi[b-dao6xeytia] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-dao6xeytia] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-dao6xeytia] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-dao6xeytia] {
        padding-bottom: 1rem;
    }

    .nav-item[b-dao6xeytia]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-dao6xeytia]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-dao6xeytia]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-dao6xeytia] {
        display: none;
    }

    .collapse[b-dao6xeytia] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-dao6xeytia] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
